.page-wrapper 
    section.page-rest
        include ../sections/page-nav/page-nav1.pug
        include ../sections/page-target/page-target.pug
        include ../sections/page-attention/page-attention1.pug
        include ../sections/page-request/page-request.pug
        include ../sections/page-direction/page-direction.pug
        include ../sections/page-requirements/page-requirements.pug
        include ../sections/page-choice/page-choice.pug
        include ../sections/page-stage/page-stage.pug
        include ../sections/page-docs/page-docs.pug
    include ../layouts/_footer1.pug