.page-wrapper 
    section.page-rest
        include ../sections/page-nav/page-nav2.pug
        include ../sections/page-contest/page-contest.pug
        include ../sections/page-direction/page-direction.pug
        include ../sections/page-attention/page-attention2.pug
        include ../sections/page-priorities/page-priorities1.pug
        include ../sections/page-priorities/page-priorities2.pug
    include ../layouts/_footer2.pug