section.container#stages
    .page-priorities
        .page-priorities__left
            h2 Этапы оценки заявки
        .page-priorities__right
            ul
                li
                    span.left 1
                    p
                        | Валидация
                        span Оценка заявки по формальным признакам (соответствие требованиям Положения)
                li
                    span.left 2
                    p
                        | Экспертиза
                        span Оценка содержания заявки независимыми экспертами			
                li
                    span.left 3
                    p
                        | Конкурсная комиссия
                        span Рассмотрение шорт-листа проектов и формирование списка победителей
                li
                    span.left 4
                    p
                        | Питчинг проектов 
                        span Знакомство с командой и обсуждение замечаний экспертов перед заключением договора
                li
                    span.left
                        picture
                            source(media='(max-width: 768px)' srcset=require('/img/star-sm.svg'))
                            img(src=require('/img/star.svg')) 
                    p.text проектная деятельность фонда осуществляется в рамках благотворительной программы «Траектория жизни».	