section.container#priorities
    .page-priorities
        .page-priorities__left
            h2 Приоритеты конкурсов
        .page-priorities__right
            p Для каждого конкурса определяются свои приоритеты и акценты, продиктованные актуальной повесткой. 
            p Например, в конкурсе 2020 года особое внимание уделялось проектам, направленным на долгосрочное развитие, увеличение охвата целевой аудитории, тиражирование методик и использование цифровых технологий.
            p В каждом конкурсе могут быть предусмотрены специальные форматы поддержки и номинации.