section#target.container
    .page-target
        h2 Цель конкурса — поддержка проектов, направленных на помощь:
        - var items = ["Детям до 18 лет с ограниченными возможностями здоровья (физическими и ментальными) и их семьям","Детям до 18 лет в трудной жизненной ситуации (дети-сироты, приемные дети), выпускникам детских домов-интернатов","Молодым взрослым с ментальными нарушениями, нуждающимся в социализации и сопровождаемом проживании"];
        ul
            each val in items 
                li
                    picture
                        source(media='(max-width: 768px)' srcset=require('/img/check-sm.svg'))
                        img(src=require('/img/ok.svg'))               
                        p= val