section#requirements.container
	.page-request
		.page-requirements__left
			h2 Требования<br>к участникам
		.page-requirements__right
			- var items = ["Некоммерческие организации, определенные в ч. 3 ст. 2 Федерального закона № 7-ФЗ от 12.01.1996г. «О некоммерческих организациях», государственные и муниципальные предприятия и учреждения, зарегистрированные на территории Российской Федерации","Организации, зарегистрированные не позднее чем за один год до начала приема заявок на конкурс","Организации, осуществляющие в соответствии с уставом один или несколько видов деятельности, соответствующих грантовым направлениям данного положения (пункт II Положения о конкурсе)","Для организаций, осуществляющих медицинскую или образовательную деятельность – наличие соответствующей лицензии","Организации, которые не находятся в процессе ликвидации, в отношении них не возбуждено производство по делу о несостоятельности (банкротстве), деятельность организаций не приостановлена в порядке, предусмотренном законодательством","В случае, если организация реализует предпринимательскую деятельность, доход от нее не должен превышать 35% от общего дохода организации за год (предшествующий году подачи заявки)"]
			ul 
				each item, index in items
					li 
						p=index + 1
						p=item	