section.container.no-padding-1080
    .page-choice
        .page-choice__item
            .page-choice__item-top
                h3 Специальные условия для новых организаций
                .page-choice__item-img
                    img(src=require("/img/c-2.svg"))
                p Организации моложе года могут подаваться на конкурс на особых условиях. Например, бюджет проекта не более 500 тыс. рублей. Условия действуют для всех заявителей, подходящих под направления проектов.
            +btn("подать заявку")
        .page-choice__line
        .page-choice__item
            .page-choice__item-top
                h3 Гранты на долгосрочные проекты
                .page-choice__item-img
                    img(src=require("/img/c-1.svg"))
                p Любая организация, соответст- вующая общим требованиям к участникам, может представить на конкурс долгосрочный проект, рассчитанный на период от 1 до 2-х лет.
            +btn("подать заявку")