@font-face {
    font-family: 'Euclid';
    src: url('../fonts/EuclidCircularA-Regular.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* @font-face {
    font-family: 'Arial';
	src: url('./fonts/Arial/ArialMT.eot');
	src: 
		url('./fonts/Arial/ArialMT.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Arial/ArialMT.woff') format('woff'),
		url('./fonts/Arial/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

/* $euclid: "Euclid"; */