.mobile-menu
    .mobile-menu__helper
        .mobile-menu__block
            .mobile-menu__close
                img(src=require("/img/close.svg"))
            nav
                ul
                    .mobile-menu__logo
                        img(src=require("/img/logo.svg"))
                    li
                        a(href="") новости
                    li
                        a(href="") частые вопросы
                .mobile-menu__lk
                    img(src=require("/img/user-sm.svg"))
                    span кабинет