section.container.padding-r-n
    .page-nav.page-nav-js
        ul
            li
                a(href="#target") Цель
            li
                a(href="#how-request") Как подать заявку
            li
                a(href="#direction") Направления
            li
                a(href="#requirements") Требования
            li
                a(href="#stages") Этапы
            li
                a(href="#docs") Документы