section.container.padding-r-n
    .page-nav.page-nav-js
        ul
            li
                a(href="#target") цель конкурсов 
            li
                a(href="#projects") цели проектов
            li
                a(href="#direction") направления 
            li
                a(href="#priorities") приоритеты
            li
                a(href="#stages") этапы оценки