section.container.no-padding-md
    .page-attention
        .page-attention__mark
            img(src=require("/img/mark.svg"))
        .page-attention__text
            p Особое внимание будет уделяться проектам, которые нацелены на долгосрочное развитие, увеличение охвата целевой аудитории, тиражирование методик. Проекты любого направления могут быть реализованы с использованием цифровых технологий.