section.container.no-padding-md
    .page-attention
        .page-attention__mark
            img(src=require("/img/dd.svg"))
        .page-attention__text
            p Наш главный принцип как грантодающей организации — обеспечение равного доступа для соискателей финансирования и многоступенчатая система оценки.