section#target.container
    .page-contest
        h2 Цель конкурсов и проектной работы фонда 
        p.sub-title Мы поддерживаем лучшие практики и методики помощи детям с опытом сиротства и людям с инвалидностью. 
            .page-contest__wrap
                .page-contest__item
                    img(src=require("/img/target.svg"))
                    h4 Целевые группы фонда
                    ul
                        li
                            p дети до 18 лет с ограниченными возможностями здоровья: физическими и ментальными, и их семьи;
                        li
                            p дети до 18 лет в трудной жизненной ситуации: дети-сироты, приемные дети, выпускники детских домов-интернатов;
                        li
                            p молодые взрослые с ментальными нарушениями, нуждающиеся в трудоустройстве и сопровождаемом проживании.
                .page-contest__item
                    img(src=require("/img/scale.svg"))
                    h4 Цели проектов
                    ul
                        li
                            p создание сервисов для детей с особенностями развития и опытом сиротства;
                        li
                            p обучение специалистов и родителей;
                        li
                            p профилактика отказов от детей для семей в кризисных ситуациях;
                        li
                            p социализация;
                        li
                            p развитие инклюзивного образования и доступной культурной среды;
                        li
                            p информирование и просвещение общества.