section#stages.container
    .page-stage
            .page-stage__left
                h2 Этапы <br>проведения <br>конкурса
            .page-stage__right
                - var items = [{text: "Заявки заполняются на портале в личном кабинете, проверяются организатором на соответствие Положению о конкурсе.",date: "1 апреля - 30 апреля"},{text: "Заявки, прошедшие первичный отбор, оцениваются экспертами, в соответствии с баллами формируется рейтинг проектов.",date: "1 мая - 25 мая"},{text: "Конкурсная комиссия рассматривает результаты работы экспертов и составляет список заявок-победителей.",date: "25 мая - 31 мая"},{text: "Организатор подводит итоги конкурса и объявляет победителей.",date: "1 июня - 5 июня"}]
                ul#element
                    #line.line 
                    each item, index in items
                        li
                            p 
                                span=index+1
                            p
                                =item.text
                                span=item.date
